<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADxuU1QxmyvO9S2rHSuw1ashrTHNo9MNI</string>
	<key>GCM_SENDER_ID</key>
	<string>823941048693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diary-and-weight</string>
	<key>PROJECT_ID</key>
	<string>diaryandweightapp</string>
	<key>STORAGE_BUCKET</key>
	<string>diaryandweightapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823941048693:ios:82d96a2ad92cbeb9fe8b3c</string>
</dict>
</plist>